<md-dialog ng-cloak>
    <div class="dialog-content" 
         layout="row" 
         layout-wrap 
         layout-margin>
        <md-button class="md-primary md-raised" 
                   ng-click="showAlert($event)" 
                   flex="100" 
                   flex-gt-md="auto">
            This book is already saved!
        </md-button>
        <md-button class="md-primary md-raised" 
                   ng-click="showConfirm($event)"  
                   flex="100"
                   flex-gt-md="auto">
            Got it!
        </md-button>
    </div>    
</md-dialog>