<md-dialog ng-cloak
           aria-label="Book entry dialog">
    <md-toolbar>
        <div class="md-toolbar-tools center-text">
            <h5>Submit Your Book!</h5>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <form name="bookForm">
            <md-input-container class="md-block">
                <label>Title</label>
                <input name="title"
                       ng-model="home.newBookEntry.title"
                       required>
                <div ng-messages="bookForm.description.$error">
                    <div ng-message="required">Book title is required</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Author</label>
                <input name="author"
                       ng-model="home.newBookEntry.author"
                       required>
                <div ng-messages="bookForm.author.$error">
                    <div ng-message="required">Author is required.</div>
                </div>
            </md-input-container>
            <md-dialog-actions layout="row">
                <md-button ng-click="home.closeDialog()">
                    Cancel
                </md-button>
                <md-button ng-click="home.addBook()"
                           ng-disabled="bookForm.$invalid">
                    Submit
                </md-button>
            </md-dialog-actions>
        </form>
    </md-content>
</md-dialog>
