<!-- Mobile toolbar with menu icon-->
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" 
                   aria-label="Menu button" 
                   ng-click="home.showMenu()" 
                   hide-gt-xs>
            <md-icon md-svg-icon="../icons/ic_menu_24px.svg"></md-icon>
        </md-button>
        <h2><span>My books</span></h2>
    </div>
</md-toolbar>
<!-- Mobile menu veritcal book list -->
<md-list ng-show="home.mobileMenu" 
         class="white no-padding" 
         hide-gt-xs>
    <md-list-item ng-repeat="book in home.books">
        <div class="md-list-item-text" 
             layout="column">
            <h4>{{book.title}}</h4>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list> 
<!-- Web toolbar horizontal book list-->
<md-toolbar hide-xs>
    <div class="md-toolbar-tools white">
        <span ng-repeat="book in home.books">
            <span>{{book.title}}</span>
        </span>
    </div>
</md-toolbar>
<!-- Page content -->
<md-content class="md-padding back-color" 
            layout="row" 
            layout-wrap 
            layout-align="center start" 
            layout-xs="column" >
    <!-- Left column -->
    <div flex="50" 
         flex-xs="100" 
         layout="column">
        <!-- Welcome card -->
        <md-card ng-if="home.welcomeForm">
            <md-card-content>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Welcome back!</span>
                    <span class="md-subhead">It's been a while.</span>
                    <span class="md-subhead">Read any new books lately?</span>
                  </md-card-title-text>
                </md-card-title>
            </md-card-content>
            <!--Welcome card buttons  -->
            <md-card-actions layout="row" 
                             layout-align="end center">
                <md-button ng-click="home.closeCard()">
                    NO
                </md-button>
                <md-button ng-click="home.showDialog($event)">
                    YES
                </md-button>
            </md-card-actions>
        </md-card>
        <!-- Left book cards -->
        <md-card ng-repeat="book in home.books track by $index"
                 ng-if="$index%2===0">
            <md-card-content>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{book.title}}</span>
                        <span class="md-subhead">By {{book.author}}</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card-content>  
            <!-- Left card image -->
            <md-card-title-media>
                <div class="md-media-md card-media">
                    <img ng-src={{book.image}} alt={{book.title}}>
                </div>
            </md-card-title-media>
            <!-- Left card buttons -->
            <md-card-actions layout="row" 
                             layout-align="end center">
                <md-button>FREE SAMPLE</md-button>
                <md-button>REVIEW</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <!-- Right column -->
    <div flex="50" flex-xs="100" layout="column">
        <!-- Right book cards-->
        <md-card ng-repeat="book in home.books track by $index"
                 ng-if="$index%2">
            <md-card-content>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{book.title}}</span>
                    <span class="md-subhead">By {{book.author}}</span>
                  </md-card-title-text>
                </md-card-title>
            </md-card-content>
            <!-- Right card image -->
            <md-card-title-media>
                <div class="md-media-md card-media">
                    <img ng-src={{book.image}} alt={{book.title}}>
                </div>
            </md-card-title-media>
            <!-- Right card buttons -->
            <md-card-actions layout="row" 
                             layout-align="end center">
                <md-button>FREE SAMPLE</md-button>
                <md-button>REVIEW</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>